footer {
    .flex(row, wrap);
    width: 100%;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    background-color: @barcolor;

    small {
      position: absolute;
      left: 45%;
      color: @copycolor;
    }
  }