* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

//? Choose fonts
// html, body {
//     font-family: ;
// }
// h1, h2, h3, h4, h5 {
//     font-family: ;
// }

//? 
//h1 {size, padding
//h2 {size, padding
//p {line height, size, etc.

img {
    max-width: 100%;
    height: auto;
}

//?
// A container? .container {max-width:, width:, margin:}