  .splash {
    width: 100%;
    height: 100vh;
    background: url("../assets/headimg.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: 50% 50%;
    button {
      position: absolute;
      left: 43%;
      @media @tablet {
        left: 41%;
      }
      @media @mobile {
        left: 33%;
      }
      bottom: 5%;
      background: @btn-bgcolor;
      color: @btn-fontcolor;
      border: 1px solid @btn-bgcolor;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1.8rem;
      transition: 300ms ease;
      &:hover {
        background: @btn-fontcolor;
        color: @btn-bgcolor;
      }
    }
  }

  .content {
    .flex(row, wrap);
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    .content-text {
      .flex(column, wrap);
      width: 50%;
      padding: 1% 2%;
      h3 {
        margin: 5px 0;
        margin-bottom: 20px;
      }
      p {
        margin: 5px 0;
      }
    }
    .content-graph {
      width: 50%;
      padding: 1% 2%;
    }
    @media @mobile {
      .flex(column, wrap);
      .content-text {
        width: 100%
      }
      .content-graph {
        width: 100%
      }
    }
  }

  .member-section {
    margin: 60px auto;
    width: 85%;
    .flex(column, wrap);
    .member {
      width: 100%;
      .flex(row, wrap);
      align-items: center;
      justify-content: space-evenly;
      border: 1px solid @fontcolor;
      border-radius: 15px;
      margin: 2%;
      padding: 18px;
      background: @barcolor + 30;
      img {
        width: 25%;
        height: auto;
        border-radius: 50%;
      }
      .member-text {
        .flex(column, nowrap);
        align-items: center;
        width: 50%;
        a {
          margin: 6px 0;
        }
        p {
          margin: 6px 0;
        }
        @media @tablet {
          h3 {
            font-size: 2rem;
          }
        }
      }
    }
    .member-reverse {
      width: 100%;
      .flex(row-reverse, wrap);
      align-items: center;
      justify-content: space-evenly;
      border: 1px solid @fontcolor;
      border-radius: 15px;
      margin: 2%;
      padding: 18px;
      background: @barcolor + 30;
      img {
        width: 25%;
        height: auto;
        border-radius: 50%;
      }
      .member-text {
        .flex(column, wrap);
        align-items: center;
        width: 50%;
        a {
          margin: 6px 0;
        }
        p {
          margin: 6px 0;
        }
        @media @tablet {
          h3 {
            font-size: 2rem;
          }
        }
      }
    }
  }